* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}
header {
  background-color: #fff;
  padding: 20px 0;
  &.scrollHeader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
  }
  .container {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          a {
            color: black;
          }
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }
    }
  }
}
#form {
  .container {
    .form {
      display: flex;
      justify-content: center;
      form {
        padding: 10rem 0;
        text-align: center;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        input {
          padding: 10px;
        }
        button {
          padding: 10px;
          width: 20%;
          color: white;
          padding: 10px;
          border: 1px solid red;
          background-color: red;
          transition: all 0.3s;
          &:hover {
            cursor: pointer;
            border: 1px solid red;
            color: red;
            background-color: transparent;
          }
        }
      }
    }
  }
}

#table {
  .container {
    .table {
      display: flex;
      flex-direction: column;
      align-items: center;
      .inputs {
        display: flex;
        gap: 5rem;
        padding: 20px 0;
        input {
          padding: 10px;
          width: 300px;
        }
        i{
            font-size: 20px;
            position: relative;
            right: 110px;
            top: 8px;
        }
        button {
          padding: 10px;
          width: 20%;
          color: white;
          padding: 10px;
          border: 1px solid red;
          background-color: red;
          transition: all 0.3s;
          &:hover {
            cursor: pointer;
            border: 1px solid red;
            color: red;
            background-color: transparent;
          }
        }
      }
      table,
      th,
      td {
        padding: 10px 30px;
        border: 1px solid;
        border-collapse: collapse;
        text-align: center;
        i {
          font-size: 25px;
        }
        img {
          width: 100px;
        }
      }
    }
  }
}
footer{
    padding: 7rem 0;
    background-color: white;
    .container{
        .footer{
            display: flex;
            justify-content: space-between;
            .ftr-sec{
                img{
                    width: 50%;
                }
                p{
                    color: gray;
                }
                width: 25%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    a{
                        color: gray;
                    }
                }
            }
        }
    }
}