* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}
header {
  background-color: #fff;
  padding: 20px 0;
  &.scrollHeader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
  }
  .container {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          a {
            color: black;
          }
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }
    }
  }
}
#hero-banner {
  .container {
    .hero-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      .content {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h1 {
          color: #0b1c39;
          font-size: 96px;
        }
        button {
          width: 20%;
          padding: 15px;
          font-weight: 700;
          background-color: #4a4a4b;
          border: none;
          color: white;
          transition: all 0.3s;
          &:hover {
            background-color: red;
            cursor: pointer;
          }
        }
      }
      .picture {
        display: flex;
        align-items: center;
        img {
          width: 100%;
          height: 800px;
        }
      }
    }
  }
}

#new-arrivals {
  .container {
    .new-arrivals {
      h1 {
        font-size: 48px;
        padding: 20px 0;
      }
      .cards {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        .card {
          text-align: center;
          h3 {
            font-size: 24px;
            padding: 10px 0;
          }
          p {
            font-size: 18px;
            color: red;
          }
          height: 500px;
          img {
            width: 400px;
            height: 500px;
            margin: 15px 0;
          }
        }
      }
    }
  }
}

#popular-items {
  .container {
    .popular-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading {
        padding: 10rem 0;
        text-align: center;
        width: 50%;
        h1 {
          font-size: 48px;
        }
        p {
          font-size: 16px;
          color: gray;
          padding: 10px 0;
        }
      }
      .popular-cards {
        padding: 20px 0;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            padding-bottom: 12px;
          text-align: center;
          h3 {
            font-size: 24px;
            padding: 10px 0;
          }
          p {
            font-size: 18px;
            color: red;
            padding: 19px 0;
          }
          a {
            color: white;
            padding: 10px;
            border: 1px solid red;
            background-color: red;
            transition: all 0.3s;
            &:hover {
              cursor: pointer;
              border: 1px solid red;
              color: red;
              background-color: transparent;
            }
          }
          border-bottom: 2px solid red;
        }
      }
      .loadMore {
        color: RED;
        padding: 10px;
        border: 1px solid red;
        background-color: transparent;
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          border: 1px solid red;
          color: red;
          background-color: red;
          color: white;
        }
      }
    }
  }
}
